.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo title";
  align-items: center;
}
.page-header h1 {
  display: inline-block;
  grid-area: title;
  text-align: left;
  font-size: 16px;
  color: var(--red);
}
.page-header a.toolbar-button.logo img {
  margin-top: 10px;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
